
[gmTree="gm_tree"] {
	font-size: .7rem;
}

[gmTree="gm_tree"][showCheckbox="true"] [gmcheckbox] {
	display: block;
}

[gmTree="gm_tree"][showCheckbox="false"] [gmcheckbox] {
	display: none;
}

[gm_act="onOff"] {
	display: block;
	width: 1rem;
	height: 1rem;
	line-height: 1.7rem;
	text-align: center;
	position: absolute;
	top: .4rem;
	left: 1rem;
	/* bottom: 0; */
	/* background: red; */
	cursor: pointer;
}
[gmTree="gm_title"] {
	display: block;
	padding: .4rem 0 .4rem 2rem;
	cursor: pointer;
}

[gmIndex] {
	box-sizing: border-box;
	/* padding: .2rem 0; */
	position: relative;
}

[gmIndex].active > [gmtree="gm_title"] {
	color: #0074cd;
}

[gmIndex="a"] {
	padding-left: 0rem;
}

[gmIndex="b"], 
[gmIndex="c"], 
[gmIndex="d"], 
[gmIndex="e"],
[gmIndex="f"], 
[gmIndex="g"], 
[gmIndex="h"], 
[gmIndex="i"],
[gmIndex="j"], 
[gmIndex="k"], 
[gmIndex="l"], 
[gmIndex="m"],
[gmIndex="n"], 
[gmIndex="o"], 
[gmIndex="p"], 
[gmIndex="q"],
[gmIndex="r"], 
[gmIndex="s"], 
[gmIndex="t"], 
[gmIndex="u"],
[gmIndex="v"], 
[gmIndex="w"], 
[gmIndex="x"], 
[gmIndex="y"],
[gmIndex="z"]
{
	margin-left: .9rem;
}

[gmIndex] span[on="false"]::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: .3rem solid transparent;
	border-left: .3rem solid #777;
	border-bottom: .3rem solid transparent;
	position: relative;
	left: .4rem;
    top: .25rem;
}

[gmIndex].active > span[on="false"]::after {
	border-left: .3rem solid #0074cd;
}

[gmIndex] span[on="false"] ~ [gmindex] {
	display: none;
}

[gmIndex] span[on="true"]::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: .3rem solid transparent;
	border-right: .3rem solid transparent;
	border-top: .3rem solid #777;
	position: relative;
	left: .2rem;
	top: .4rem;
}

[gmIndex].active > span[on="true"]::after {
	border-top: .3rem solid #0074cd;
}

[gmIndex] span[on="true"] ~ [gmindex] {
	display: block;
}

[gmIndex] span[on="none"] {
	width: .5rem;
	height: .5rem;
	line-height: .5rem;
	/* background: green; */
	/* left: -.2rem; */
}

[gmIndex] span[on="none"]::after {
	display: block;
	width: 1rem;
	height: .5rem;
	font-size: 2rem;
	content: "·";
	cursor: pointer;
	/* background: yellow; */
	position: absolute;
	top: .2rem;
    left: -.1rem;
}

[gmIndex].active > span[on="none"]::after {
	color: #0074cd;
}

[gmCheckbox] {
	width: 0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    position: absolute;
    top: .48rem;
    left: .03rem;
    overflow: hidden;
    background: #fff;
    z-index: 2;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: .2rem;
}

[gmCheckbox] a {
	width: .3rem;
	height: .1rem;
	line-height: .7rem;
	background: #fff;
	position: relative;
	left: .1rem;
	font-size: .5rem;
}
[gmCheckbox] a:after{
	content: '\e697';
	font-family: icon;
	display:block;
	width: .4rem;
	height: .1rem;
	color: #fff;
}

[gmCheckbox][checked="true"] {
	background: #40D28F;
	border: 1px solid #fff;
}

[gmCheckbox][checked="true"] ~ [gm_act="selected"] {
	color: #0074cd;
}

[gmCheckbox][checked="false"] a {
	display: none;
}